:root {
}

.label-digits {
    -unity-font-definition: url("project://database/Assets/@Art/Fonts/push2black.ttf?fileID=12800000&guid=ce2eb16540ce4ad4f84cc6ae649a784b&type=3#push2black");
    -unity-text-align: middle-center;
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.label {
    -unity-font-definition: url("project://database/Assets/@Art/Fonts/bahnschrift.ttf?fileID=12800000&guid=0c33b27f5991c914f80615cf05bcc24e&type=3#bahnschrift");
}
